<!DOCTYPE html>	
<html>
<head>
<title>Add Event</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style type="text/css">
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
label{
	margin:5px;
}
input{
	margin:10px;
	border-radius: 4px;
}
</style>
</head>
<body>
{% if error %}
    <p><strong>Error:</strong> {{ error }}
{% endif %}


<form action="/calendar/add" method ="POST">
	<label>Title</label>
	<input type="text" name="title">
	<br>
	<label>Description</label>
	<input type="text" name="description">
	<br>
	<label>Date</label>
	<input type="Date" name="date">
	<br>
	<label>Start Time</label>
	<input type="Time" name="start">
	<br>
	<label >End Time</label>
	<input type="Time" name="end">
	<br>
	<input type="submit" value="Add Event" class="btn btn-primary">
</form>

</body>
</html>